{% extends 'layout.html' %}

{% load static %}

{% include '_navbar.html' %}

{% block content %}
<div class="cotainer">
  <!--
    <div id="spinner-box" class="text-center mt-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  -->
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card card-body bg-dark mt-4">
          
                <form  id="data-box" class="form-horizontal" action="{% url 'feat:recomendacion' %}" method="post">
                  {% csrf_token %}
                    <div class="form-group">
                      <label class="text-white" for="IDs">Caracteristicas: </label>
                      <select class="form-select" name="array"  aria-label="Ruta de caracteristicas">
                        <option selected>Open this select menu</option>
                          <option value= '{ static "features_VGG19_Conv5_block1_features_fine_tunning.npy" }'>VGG19_Conv5_block1_features_fine_tunning</option>
                          <option value= '{ static "features_VGG19_10.npy" }'>VGG19_10</option>
                      </select>
                    </div>

                    <div class="form-group">
                        <label class="text-white" for="IDs">ID's: </label>
                        <select class="form-select" name="IDs"  aria-label="Ruta de caracteristicas">
                          <option selected>Open this select menu</option>
                            <option value= '{ static "ids/ids_5189.txt" }''>IDs 5189</option>
                            <option value= '{ static "ids/ids_10.txt" }''>IDs 10</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="text-white" for="CSV">Ruta de CSV: </label>
                        <select class="form-select" name="CSV"  aria-label="Ruta de caracteristicas">
                          <option selected>Open this select menu</option>
                          <option value= '{ static "CSV/tradesy_13370_compras.csv" }''>CSV 13370</option>
                          <option value= '{ static "CSV/tradesy_feedback_10.csv" }''>CSV 10</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="text-white" for="test_size">Test size: </label>
                        <input class="form-control" name="test_size" type="number" step="0.1">
                    </div>

                    <div class="form-group">
                        <label class="text-white" for="validation_size">validation size: </label>
                        <input class="form-control" name="validation_size" type="number">
                    </div>

                    <div class="form-group">
                        <label class="text-white" for="Numero_epocas">Numero de epocas: </label>
                        <input class="form-control" name="Numero_epocas" type="number">
                    </div>
                    
                    <div class="form-group">
                        <label class="text-white" for="tamaño_lote">Tamaño del lote: </label>
                        <input class="form-control" name="tamaño_lote" type="number">
                    </div>

                    <input type="submit" class="btn btn-primary mt-4" name="Enviar">
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-dark mt-4">
                <thead>
                  <tr>
                    
                    {% for metrica in Metricas %}
                    <th scope="col">{{metrica}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for resultado in resultados %}
                      <td>{{resultado}}</td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}