{% extends 'layout.html' %}

{% load static %}


{% block content %}

<div class="row justify-content-center">
           
        <div class="col-md-4">
            <div class="card card-body bg-dark mt-4">
          
                <form  id="data-box" class="form-horizontal" action="{% url 'feat:recomendacion' %}" method="post">
                  {% csrf_token %}
                    <div class="form-group">
                      <label class="text-white" for="IDs">Features: </label>
                      <select class="form-select" name="array"  aria-label="Ruta de caracteristicas">
                        <option selected>Open this select menu</option>
                          <option value= '{ static "features_VGG19_Conv5_block1_features_fine_tunning.npy" }'>VGG19_Conv5_block1_features_fine_tunning</option>
                      </select>
                    </div>

                    <div class="form-group">
                        <label class="text-white" for="test_size">Test size: </label>
                        <input class="form-control" name="test_size" type="number" step="0.1" min="0" max="1">
                    </div>

                    <div class="form-group">
                        <label class="text-white" for="validation_size">validation size: </label>
                        <input class="form-control" name="validation_size" type="number" step="0.1" min="0" max="1">
                    </div>

                    <div class="form-group">
                        <label class="text-white" for="Numero_epocas">Epochs: </label>
                        <input class="form-control" name="Numero_epocas" type="number" min="1">
                    </div>
                    
                    <div class="form-group">
                        <label class="text-white" for="tamaño_lote">Batch Size: </label>
                        <input class="form-control" name="tamaño_lote" type="number" min="1">
                    </div>

                    <div class="form-group">
                      <label class="text-white" for="niveles">Precision and Recall levels: </label>
                      <input class="form-control" name="niveles" type="number" min="1" max="100">
                    </div>
                    
                    <div>
                      <input type="submit" class="btn btn-primary mt-4 w-100" name="Enviar">  
                    </div>
                </form>

                <a href="{% url 'feat:cargar datos' %}" type="button" class="btn btn-success mt-4" >Load</a>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-dark mt-4">
                <thead>
                  <tr>
                    
                    {% for metrica in Metricas %}
                    <th scope="col">{{metrica}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for resultado in resultados %}
                      <td>{{resultado}}</td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
        </div>
</div>
 

{% endblock %}