{% extends 'layout.html' %}

{% block content %}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-8">
            <div>Bienvenidos</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ipsum assumenda tempora quisquam! Officia ipsa esse, quasi tempora, mollitia doloremque labore ut voluptatibus reprehenderit optio debitis corporis, reiciendis vitae aliquid est accusamus velit doloribus aliquam beatae iure nobis ad nulla consequuntur ipsam! Voluptas, dolor obcaecati reprehenderit laboriosam porro ea saepe sed odit inventore recusandae quasi unde perferendis iusto a, excepturi esse ipsa ipsam natus nulla commodi sunt dolore voluptates ex nobis. Obcaecati aliquam cum voluptatem delectus dignissimos dolores, quidem modi quia itaque exercitationem praesentium sunt non possimus dolor consequuntur soluta ducimus aspernatur velit veritatis? Optio ipsa atque omnis aliquam harum!</p>
        </div>
</div>
{% endblock %}